<div>
  <h1>
        <span *ngIf="originalCategory?.id; else prompt"
        >Editing {{ originalCategory?.name }}</span
        >
    <ng-template #prompt>Create Category</ng-template>
  </h1>
  <form [formGroup]="categoryForm"  #f="ngForm" (ngSubmit)="saveCategory(f.value)" >
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">

    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description">

    <button type="submit" [disabled]="!categoryForm.valid">Save</button>
    <button type="button" (click)="cancelSaveCategory()">Cancel</button>
  </form>
</div>
